{% layout "layout.liquid" %} {% block content %}
<div>
    <form action="/companies/{{companies.id}}?_method=PUT" method="post">
        <fieldset>
            <legend>Edit {{companies.name}}</legend>
            <label>
                NAME:<input 
                type="text" 
                name="name" 
                placeholder="enter companies name" 
                value="{{companies.name}}" />
            </label>
            <label>
                LOCATION:<input 
                type="text" 
                name="location" 
                placeholder="enter companies name" 
                value="{{companies.location}}" />
            </label>
            <label>
                RANK:<input 
                type="text" 
                name="rank" 
                placeholder="enter rank" 
                value="{{companies.rank}}" />
            </label>
            <label>
                RANK YEAR:<input 
                type="text" 
                name="rankyear" 
                placeholder="enter rank year" 
                value="{{companies.rankyear}}"/>
            </label>
        </fieldset>
        <input type="submit" value="Done" />
        <a href="/companies"><button>Back</button></a>
    </form>
    <h2>Ballets performed by {{companies.name}}</h2>
    {% for ballet in companies.ballets%}
    <form action="/companies/{{companies.id}}/remove?_method=PUT" method="post">
    <input type="hidden" value="{{ballet._id}}"  name="ballet">
    
        <h5>{{ballet.name}}</h5>

   <input type="submit" value="Delete" />
</form>
    {%endfor%}
    
</div>
{% endblock %}