{% layout "layout.liquid" %} {% block content %}
<div>
    <form action="/ballets/{{ballets.id}}?_method=PUT" method="post">
        <fieldset>
            <legend>Edit {{ballets.name}}</legend>
            <label>
                NAME:<input 
                type="text" 
                name="name" 
                placeholder="enter ballet name" 
                value="{{ballets.name}}" />
            </label>
            <label>
                COMPOSED:<input 
                type="text" 
                name="color" 
                placeholder="enter ball name" 
                value="{{ballets.composed}}" />
            </label>
            <label>
                WATCHED:<input 
                type="checkbox" 
                name="watched" {% if ballets.watched==true %} checked
                {% endif %} />
            </label>
        </fieldset>
        <input type="submit" value="Edit {{ballets.name}}" />
        <a href="/ballets/"><button>Back to Main</button></a>
    </form>
</div>
{% endblock %}