{% layout "layout.liquid" %} {% block content %}
<div>
    <form action="/ballets/{{ballets.id}}?_method=PUT" method="post">
        <fieldset>
            <legend>Edit {{ballets.name}}</legend>
            <label>
                NAME:<input 
                type="text" 
                name="name" 
                placeholder="enter ballet name" 
                value="{{ballets.name}}" />
            </label>
            <label>
                COMPOSER:<input 
                type="text" 
                name="composed" 
                placeholder="enter composer's name" 
                value="{{ballets.composed}}" />
            </label>
            <label>
                CHOREOGRAPHED:<input 
                type="text" 
                name="choreographed" 
                placeholder="enter choreograher's name" 
                value="{{ballets.choreographed}}" />
            </label>
            <label>
                PREMIERED:<input 
                type="text" 
                name="premiered" 
                placeholder="enter premier date" 
                value="{{ballets.premiered}}" />
            </label>
        </fieldset>
        <input type="submit" value="Edit {{ballets.name}}" />
        <a href="/ballets/"><button>Back</button></a>
    </form>
</div>
{% endblock %}